{% extends "basee.html" %}
{% block contenido %}
<main id="mainContainer">
		<!-- Main Container -->
		<div class="container">
			<div class="row">
				<!-- Content -->
				<div class="col-lg-9">
					<!-- Filter Area -->
					<div class="row">
						<div class="col-xs-6 col-md-5">
							<!-- Sort by -->
								<select class="mdb-select">
									<option value="" disabled selected>Choose your option</option>
									<option value="1">Default sorting</option>
									<option value="2">Sort by price</option>
									<option value="3">Sort by popularity</option>
								</select>
							<!-- /.Sort by -->
						</div>
						<div class="col-xs-6 col-md-7 text-xs-right">
							<!-- View Switcher -->
							<a class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i> Grid</a>
							<a class="btn btn-secondary"><i class="fa fa-th-list" aria-hidden="true"></i> List</a>
							<!-- /.View Switcher -->
						</div>
					</div>
					<!-- /.Filter Area -->
					<!-- Products Grid -->
					<section class="section">
						<!-- First row -->
						{% for product  in productos  %}
							<div class="col-lg-4 col-xs-12">
								<!--Card-->
								<div class="card">
									<!--Card image-->
									<a href="{{ product.get_absolute_url}}">
									<div class="view overlay hm-white-slight">
										<img  class="img-fluid" src="{{ product.imagen.url }}" alt="Card image cap">
										<a href="#" data-toggle="modal" data-target="#quick-look-ex">
											<div class="mask">
												<div class="flex-center product-quick-look">
													<i class="fa fa-eye" aria-hidden="true"></i>
												</div>
											</div>
										</a>
									</div>
									</a>
									<!--/.Card image-->
									<!--Card content-->
									<div class="card-block text-xs-center">
										<!--Title-->
										<h4 class="card-title">{{ product.nombre }}</h4>
										<!--Review-->
										<div class="orange-text">
											<i class="fa fa-star"> </i>
											<i class="fa fa-star"> </i>
											<i class="fa fa-star"> </i>
											<i class="fa fa-star"> </i>
											<i class="fa fa-star"> </i>
										</div>	
										<!--Text-->
										<p class="card-text price"><span class="green-text"><strong>${{ product.precio }}</strong></span> <span class="grey-text"><small><s>$120</s></small></span></p>
										<a href="#" class="btn btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al Carrito</a>
									</div>
									<!--/.Card content-->

								</div>
								<!--/.Card-->
							</div>
						{% endfor %}
						<div class="row wow fadeIn">
						</div>
						<div class="row mt-1 wow fadeIn" data-wow-delay="0.3s">
						</div>
						<div class="row mt-1 wow fadeIn" data-wow-delay="0.6s">
						</div>
						<!-- /.Third row -->
					</section>
					<!-- /.Products Grid -->
				</div>
				<!-- Sidebar -->
				<div class="col-lg-3 col-xs-12">
					<!--Panel-->
					<div class="card mb-2">
						<div class="card-header white-text">
							Categorias de Productos
						</div>
						
						<div class="card-block">
							<ul class="sidebar-categories-list">
					           {% for c in categorias %}
					              {% if categoria.slug == c.slug %}class="selected"{% endif %}
					                 <li><a href="{{ c.get_absolute_url }}">{{ c.nombre }}</a></li>
					            {% endfor %}
							</ul>
						</div>
					</div>

					<div class="card mb-2">
						<div class="card-header white-text">
							filtrar por color
						</div>
						<div class="card-block">
							<fieldset class="form-group">
								<input type="checkbox" id="color-1">
								<label for="color-1">-</label>
							</fieldset>
							<fieldset class="form-group">
								<input type="checkbox" id="color-2">
								<label for="color-2">-</label>
							</fieldset>
							{% comment %}
							<button type="button" class="btn btn-primary">Apply</button>	
							{% endcomment %}
							
						</div>
					</div>
					<div class="card mb-2">
						<div class="card-header white-text">
							filtrar por tamaño
						</div>
						<div class="card-block">
							<fieldset class="form-group">
								<input type="checkbox" id="size-xs">
								<label for="size-xs">-</label>
							</fieldset>
							<fieldset class="form-group">
								<input type="checkbox" id="size-s">
								<label for="size-s">-</label>
							</fieldset>
							{% comment %}
							<button type="button" class="btn btn-primary">Apply</button>	
							{% endcomment %}
							
						</div>
					</div>
					<!--/.Panel-->
				</div>
				<!-- /.Sidebar -->
			</div>
			<!-- /.Content -->
		</div>
		<!-- /.Main Container -->
	</main>	
{% endblock contenido %}