{% extends "basee.html" %}
{% load staticfiles %}
{% block title %}
Tu carito de compras
{% endblock %}
{% block contenido %}
			 <a href="{% url "shop:product_list" %}" class="continue">Continuar comprando</a>
            Total: ${{ cart.get_total_price }}

<main id="mainContainer">
    <!-- Main Container -->
    <div class="container">
      <section class="section">
                <!--Shopping Cart table-->
        <div class="table-responsive">
          <table class="table product-table">
            <!--Table head-->
            <thead>
              <tr>
                <th></th>
                <th>Product</th>
                <th>Color</th>
                <th>Size</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <!--/Table head-->
            <!--Table body-->
            <tbody>
              <!--First row-->
              <tr>
                  {% for item in cart %}
                    {% with product=item.product %}                       
   
                <th scope="row">
                  <img src="{{ product.imagen.url}}" alt="" class="img-fluid z-depth-0">
                </th>
                <td>
                  <h5><strong>{{ product.nombre }}</strong></h5>
                </td>
                <td>Blue</td>
                <td>38</td>
                <td>${{ item.price }}</td>
                <td class="center-on-small-only">
                  <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {% csrf_token %}
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit">
                  </form> 
                </td>
                <td>${{ item.total_price }}</td>
                <td>
                  <a href="{% url "cart:cart_remove" product.id%}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top">Eiminar</a> 
                </td>
                  {% endwith %}
                  {% endfor %} 
              </tr>
              <!--/First row-->
              <!--Fourth row-->
              <tr>
                <td colspan="3"></td>
                <td>
                  <h4><strong>Total</strong></h4></td>
                <td>
                  <h4><strong>${{ cart.get_total_price }}</strong></h4></td>
                <td colspan="3">
                  <a class="btn btn-primary" href="{% url "orders:order_create" %}" data-upgraded=",MaterialButton"><i class="fa fa-angle-right right"></i>Pagar
                 </a>
                </td>
              </tr>
              <!--/Fourth row-->

            </tbody>
            <!--/Table body-->
          </table>
        </div>
        <!--/Shopping Cart table-->
      </section>

    </div>
    <!-- /.Main Container -->
  </main>

{% endblock %}