{% extends 'basee.html' %}
{% load staticfiles %}
{% block cssadd %}
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block contenido %}
    <div class="product">
	 <div class="container">
		 <div class="mdl-grid">
				  <div class="mdl-cell mdl-cell--5-col  single-top">
					 <div class="flexslider">
							  <ul class="slides">
								<li data-thumb="{{ producto.imagen.url }}">
									<div class="thumb-image"> <img src="{{ producto.imagen.url }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{{ producto.imagen2.url }}">
									 <div class="thumb-image"> <img src="{{ producto.imagen2.url }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{{ producto.imagen3.url }}">
								   <div class="thumb-image"> <img src="{{ producto.imagen3.url }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>
					 <script src=" {% static 'js/imagezoom.js' %}"></script>
						<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>

				 </div>
			     <div class="mdl-cell mdl-cell--7-col  col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="mdl-card mdl-shadow--4dp ">
                          <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ producto.nombre }}</h2>
                          </div>
                          <ul class="demo-list-two mdl-list">
                              <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-avatar">monetization_on</i>
                                  <span>Precio</span>
                                  <span class="mdl-list__item-sub-title">{{ producto.precio }}</span>
                                </span>
                              </li>
                          </ul>
                          <ul class="">
                              <li class="">
                                <span class="">
                                  <span>Descripción</span>
                                  <span class="mdl-list__item-text-body">
                                    {{ producto.descripcion|linebreaks }}
                                  </span>
                                </span>
                              </li>
                          </ul>
                            <form action="{% url "cart:cart_add" producto.id %}" method="post">
                                {% csrf_token %}
                                <div class="mdl-textfield mdl-js-textfield md-textfield--floating-label">
                                    {{ cart_product_form }}
                                </div>
                                <input type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--colored" value="Agregar al carrito">
                            </form>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
	     </div>
		 <div class="bottom-prdt">
			 <div class="mdl-grid">
				 <div class="mdl-cell mdl-cell--2-col">
					 <a href="product.html">
						<img src="" alt=""/>
						<h4>Product#1</h4>
						<span>$1200</span></a>
				 </div>
				 <div class="mdl-cell mdl-cell--2-col">
					 <a href="product.html">
						<img src="i" alt=""/>
						<h4>Product#1</h4>
						<span>$700</span></a>
				 </div>
				 <div class="mdl-cell mdl-cell--2-col">
					  <a href="product.html">
						<img src="" alt=""/>
						<h4>Product#1</h4>
						<span>$1300</span></a>
				 </div>
				 <div class="mdl-cell mdl-cell--2-col">
					  <a href="product.html">
						<img src="" alt=""/>
						<h4>Product#1</h4>
						<span>$9000</span></a>
				 </div>
				 <div class="mdl-cell mdl-cell--2-col">
					  <a href="product.html">
						<img src="" alt=""/>
						<h4>Product#1</h4>
						<span>$450</span></a>
				 </div>
				  <div class="clearfix"></div>
			 </div>
		 </div>
	 </div>
</div>
    {% block jsadd %}
    <link rel="stylesheet" href="{% static "js/imagezoom.js" %}">
{% endblock %}
{% endblock %}